#main {
  background-color: #D3D3D3;
}

#img-div {
  background-color: #FFFFFF;
  margin-left: 10px;
  margin-right: 10px;
}

.end-lines {
  text-align: center;
  font-size: 22px;
}

#tribute-link {
  color: #00008B;
}

#intro-caption {
  text-align: center;
  font-size: 20px;
}

#list-div {
  font-size: 20px;
  margin-left: 300px;
  margin-right: 300px;
}

#img-caption {
  font-size: 18px;
  text-align: center;
}

#title {
  text-align: center;
  font-size: 45px;
}

#tribute-info {
  margin-left: 330px;
  font-size: 20px;
}

#image {
  margin-left: 140px;
  max-width: 100%;
}
